/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background-color: #42995f;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#controls {
  width: 100vw;
}

#trips {
  width: 45vw;
  height: 45vw;
  margin-left: 3px;
  margin-bottom: 10px;
}

#photos {
  width: 38vw;
  height: 38vw;
}

#equals {
  width: 16vw;
  font-size: 20vw;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;   
}

#midsection {
  display: flex;
  align-content: space-between;
  justify-content: center;
  margin-bottom: 10px;
}

#header {
  height: 23vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 19px;
  margin-top: 15px;
}

#header-image {
  height: 100%;
}

#equals-hidden {
  opacity: 0;
  width: 16vw;
  font-size: 20vw;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;   
}


#photos-hidden {
  opacity: 0;  
  width: 38vw;
  height: 38vw;
}

.click-animation:active {
  opacity: 0.5;
}

#schedule-photo {
  width: 100%;
}

#schedule-photo-container {
  overflow: scroll;
  height: 100%;
}

#locations {
  width: 45vw;
  height: 45vw;
  margin-left: 5vw;
}

#toronto-photo {
  width: 100%;
  margin-top: 50px;
}

#photos-container {
  background-color: black;
  height: 100%;
  width: 100%;
  /* display: flex; */
  /* align-content: center;
  justify-content: center; */
}

#photo-text {
  color: grey;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 18px;
}